body {
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 30px 60px;
    border-radius: 10px;
    box-shadow: 10px 15px 25px black; /* 10px hori,  20px vertical, 25px blur, shadow color*/
}

.form-control label {
    color: black;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: lighter;
}

.login h2 {
    text-align: center;
    margin: 0;
    color: black;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 30px;

}

.form-control {
    padding: 10px;
}

.form-control input {
    border: solid #4CAF50 1px;
    padding: 10px;
    border-radius: 6px;
    font-size: 16px;
    display: block;
    width: 250px;
}

.form button {
    background-color: #4CAF50;
    border: none;
    padding: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin-left: 76px;
    width: 150px;
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}